@rendermode InteractiveServer
@page "/customers"
@using Shared
@inject HttpClient Http

<h3>Customer List</h3>

@if (customers == null)
{
	<p>Loading...</p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Id: </th>
				<th>First name: </th>
				<th>Last name: </th>
				<th>Email: </th>
				<th>Phone number: </th>
				<th>Address: </th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var customer in customers)
			{
				<tr>
					<td>@customer.Id</td>
					<td>@customer.FirstName</td>
					<td>@customer.LastName</td>
					<td>@customer.Email</td>
					<td>@customer.PhoneNumber</td>
					<td>@customer.Address</td>
					<td>
						<button type="button" onclick="UpdateCustomer(@customer.Id)">Update</button>
						<button @onclick="() => DeleteCustomer(customer.Id)">Delete</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
@code {
	private List<Customer> customers;

	protected override async Task OnInitializedAsync()
	{
		customers = await Http.GetFromJsonAsync<List<Customer>>("api/customers");
	}

	private async Task UpdateCustomer(Guid customerId)
	{
		
	}
	public async Task DeleteCustomer(Guid customerId)
	{
		Console.WriteLine("Hello");
		var response = await Http.DeleteAsync($"api/customers/{customerId}");

		if (response.IsSuccessStatusCode)
		{
			var customer = customers.FirstOrDefault(c => c.Id == customerId);
			if (customer != null)
			{
				customers.Remove(customer);
			}
			else
			{
				Console.WriteLine("Error deleting customer");
			}
		}
	}
}
